
.main-menu {
    padding-bottom: 20px;
    padding-top: 20px;
    background: rgba(255, 255, 255, 0.15);
    padding-left: 15px;
    padding-right: 15px;
  }
  
  #header {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    transition: all 0.5s;
    z-index: 997;
  }
  
  .nav-menu, .nav-menu * {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  .nav-menu > li {
    float: left;
  }
  
  @media (max-width: 768px) {
    #nav-menu-container {
      display: none;
    }
  }
  
  .nav-menu a {
    padding: 0 8px 0px 8px;
    text-decoration: none;
    display: inline-block;
    color: #fff;
    font-weight: 500;
    font-size: 12px;
    text-transform: uppercase;
    outline: none;
  }
  
  .nav-menu li:hover > a {
    color: #f8b600;
  }
  
  .banner-area {
    background: url(../img/hero-bg.jpg) center;
    background-size: cover;
    margin-bottom: 50px;
  }
  
  @media (max-width: 767px) {
    .banner-area .fullscreen {
      height: auto;
    }
  }
  
  .single-destination .overlay-bg {
    background: rgba(4, 9, 30, 0.4);
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    opacity: 0;
  }
  
  .single-destination .thumb {
    position: relative;
  }
  
  .single-destination .thumb img {
    width: 100%;
  }
  
  .single-destination .desc {
    text-align: center;
    position: absolute;
    width: 100%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  
  .single-destination .desc .price-btn {
    background: #f8b600;
    text-align: center;
    color: #222;
    padding: 6px 30px;
    font-size: 14px;
    font-weight: 600;
    display: inline-block;
    margin: 10px;
    opacity: 0;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  
  .single-destination .desc h4 {
    color: #fff;
  }
  
  .single-destination .desc p {
    color: #fff;
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 0px;
  }
  
  .single-destination:hover .price-btn {
    opacity: 1;
  }
  
  .single-destination:hover .overlay-bg {
    opacity: 1;
  }
  
  @media (max-width: 991px) {
    .single-destination {
      margin-bottom: 30px;
    }
  }
  
  .overlay {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }
    
  .price-area {
    background: url(../img/price-bg.png);
    background-size: cover;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  
  .price-area .single-price {
    background: #fff;
    padding: 30px;
  }
  
  .price-area .single-price h4 {
    text-align: center;
    border-bottom: 1px solid #f8b600;
    padding-bottom: 20px;
  }
  
  .price-area .single-price .price-list {
    margin-top: 30px;
  }
  
  .price-area .single-price .price-list li {
    margin-bottom: 10px;
  }
  
  .price-area .single-price .price-list li .price-btn {
    background: #f9f9ff;
    border: 1px solid #eee;
    color: #222;
    font-size: 14px;
    font-weight: 600;
    padding: 5px 20px;
  }
  
  .price-area .single-price .price-list li .price-btn:hover {
    border-color: #f8b600;
    background: #f8b600;
    color: #fff;
  }
  
  @media (max-width: 991px) {
    .price-area .single-price {
      margin-bottom: 30px;
    }
  }
  
  .single-other-issue .thumb img {
    width: 100%;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  
  .single-other-issue h4 {
    margin: 20px 0;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  
  .single-other-issue:hover h4 {
    color: #f8b600;
  }
  
  .single-other-issue:hover .thumb img {
    transform: scale(1.08) rotate(-3deg);
  }
  
  .link-nav {
    margin-top: 10px;
    margin-bottom: 0px;
  }
  
  .about-banner {
    background: url(../img/top-banner.jpg) center;
    background-size: cover;
    margin-bottom: 50px;
  }
  
  .about-content {
    margin-top: 70px;
    padding: 90px 0px;
    text-align: center;
  }
  
  @media (max-width: 767px) {
    .about-content {
      margin-top: 70px;
    }
  }
    
  .about-content a {
    color: #fff;
    font-weight: 300;
    font-size: 14px;
  }
      
  .destinations-area .single-destinations {
    margin-top: 30px;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  
  .destinations-area .single-destinations .thumb {
    overflow: hidden;
  }
    
  .destinations-area .single-destinations .details {
    background: #fff;
    padding: 40px;
  }
        
  .destinations-area .single-destinations .details .price-btn {
    background: #f8b600;
    color: #222;
    font-weight: 600;
    padding: 5px 20px;
  }
  
  .other-issue-area{
    margin-bottom: 50px;
  }

  .row h6{
    margin-left: 40px;
    background-color: tomato;
  }
  
  .destinations-area .single-destinations:hover {
    box-shadow: 0px 10px 30px 0px rgba(60, 64, 143, 0.2);
  }
  
  .destinations-area .star .checked {
    color: orange;
  }
  
  .footer-area {
    background: #04091e;
    padding-top: 50px;
    color: white;
  }
  
  .footer-area li{
    list-style: none;
    text-align: left;
  }
  
  .single-footer-widget ul li a {
    color: #fcfafa; 
  }
  